# MongoDB Connection
MONGODB_URI=mongodb://127.0.0.1:27017/social_media_platform

# JWT Secret Key
JWT_SECRET=745149ddb58a16340cf2c7821ad4ed7f7de285678cf0d3ede3718a11397ead0b

# Server Port
PORT=3000

# Ping Message (optional)
PING_MESSAGE=pong
